<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Accordion - Default functionality</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );
  </script>
</head>
<body>
 
<div id="accordion">
  <h3>Section One</h3>
  <div>
    <p>
    Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
    ut neque. 
    odio. 
    </p>
  </div>
  <h3>Section Two</h3>
  <div>
    <p>
    Sed non urna. Donec et ante. Phasellus eu ligula. 
    </p>
  </div>
  <h3>Section Three</h3>
  <div>
    <p>
    Nam enim risus, molestie et, porta ac, aliquam ac, risus.
    </p>
    
  </div>
  <h3>Section Four</h3>
  <div>
    <p>
    Cras dictum. Pellentesque habitant morbi tristique senectus et netus
    et malesuada fames ac turpis egestas.
    </p>
    
  </div>
</div>
 
 
</body>
</html>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type": "text",
        "id": "questiontext",
        "label": "Enter Your Question"
      },
      {
        "type":"text",
        "id":"answertext",
        "label":"Enter your Answer"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}